@font-face{ 
	font-family: 'Exo2-Light';
	src: url('../fonts/Exo2.0-Light.otf') format("opentype");
}
@font-face{ 
	font-family: 'Exo2-Medium';
	src: url('../fonts/Exo2.0-Medium.otf') format("opentype");
	
}
@font-face{ 
	font-family: 'Exo2-Regular';
	src: url('../fonts/Exo2.0-Regular.otf') format("opentype");
	
}


ul,ol{margin-left:2em}
ol{list-style-type:decimal}
nav ul,nav li{list-style:none;list-style-image:none;margin:0}
small{font-size:85%}
b,strong,th{font-weight:700}
td{vertical-align:top}
sub,sup{font-size:75%;line-height:0;position:relative}
sup{top:-.5em}
sub{bottom:-.25em}
pre{padding:15px;white-space:pre-wrap;word-wrap:break-word}
.ie6 legend,.ie7 legend{margin-left:-7px}
button,input,select,textarea{font-family:sans-serif;font-size:100%;margin:0;overflow:visible;vertical-align:baseline;width:auto}
textarea{overflow:auto;vertical-align:text-top}
label,input[type=button],input[type=submit],input[type=image],button{cursor:pointer}
input::-moz-focus-inner,button::-moz-focus-inner{border:0;padding:0}
input:invalid,textarea:invalid{-moz-box-shadow:0 0 5px red;-webkit-box-shadow:0 0 5px red;border-radius:1px;box-shadow:0 0 5px red}
.no-boxshadow input:invalid,.no-boxshadow textarea:invalid{background-color:#f0dddd}
.ie7 img{-ms-interpolation-mode:bicubic}
 
/* ------------------------- Backgrounds */
/*body {background:url("../images/im_bg.gif") left top repeat;}*/
 
/* ------------------------- Generic */
body {
    /*color:#ffffff;*/
	margin:0px;
	padding:0px;
}
.clear {clear:both;}
img { /* Needed for mobile */
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:100%;
}
 
/* ------------------------- Typography */
strong {font-weight:bold;}
p {}
h1 {}
h2 {}
h3 {}
h4 {}
h5 {}
h6 {}
address {}
pre, code {font-family: monospace;}
 
/* Links */
a, a:visited, a:active {}
a:hover {}
 
/* ------------------------- Forms */
input {}
select {}
label {}
 
/* ------------------------- Lists */
 
/* ------------------------- Layout */
 .header{
	background:url(../images/top.png)top center no-repeat;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width:100%;
  height:168px;
  box-sizing:border-box;
	padding-top:30px;
 }
 .container{
	width:1200px;
	margin:0px auto;
 }
 .container:after{
	content:'';
	display:table;
	clear:both;
 }
.logo{
	float:left;
}
.logo img{
	display:inline-block;
	width:119px;
	vertical-align:middle;
}
.main-title{
	display:inline-block;
	vertical-align:middle;
}
.main-title a{
	text-decoration:none;
}
.main-title h1{
	font-size:30px;
	font-family: 'Exo2-Medium';
	color:#000;
}
.title-b{
	color:#005bbb;
}
.title-r{
	color:#d62c1f;
}
.h-right{
	float:right;
}
.login{
	padding-top:10px;
}
.login a{
	font-family: 'Exo2-Light';
	color:#6b6b6b;
	font-size:12px;
	text-decoration:none;
	line-height:13px;
	display:inline-block;
	vertical-align:top;
}
.icon{
	display:inline-block;
	margin-right:5px;
	
}
.icon.auth{
	background:url(../images/auth.png) no-repeat center center;
	width:10px;
	height:13px;
	vertical-align:top;
}
.icon.reg{
	background:url(../images/reg.png) no-repeat center center;
	width:10px;
	height:13px;
	vertical-align:top;
}
.search{
	width:270px;
	height:50px;
	box-sizing:border-box;
	background:#e3e3e3;
	border-radius:5px;
	position:relative;
	padding:5px;
}
.search #search{
	box-sizing:border-box;
	width:260px;
	height:40px;
	border-radius:5px;
	border:0px;
	padding:20px;
	font-family: 'Exo2-Light';
	color:#a1a1a1;
	font-size:14px;
}
.btn-search{
	position:absolute;
	cursor:pointer;
	background:url(../images/btn-search.png) no-repeat center center;
	width:34px;
	height:37px;
	right:6px;
	top:6px;
}
.menu{
	width:100%;
	height:43px;
	background-image: -moz-linear-gradient(top, #bfa89e, #8f8d8c);
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.00, #bfa89e), color-stop(1.0, #8f8d8c));
background-color: #8f8d8c;
box-sizing:border-box;
}
.menu ul{
	margin:0px;
	padding:0px;
	list-style:none;
}
.menu ul li{
	display:inline-block;
	padding: 10px 5px 10px;
	background:url(../images/m-li.png)no-repeat center right;
	
}
.menu ul li:last-child{
	background:none;
}
.menu ul li a{
	color:#fff;
	padding-right:15px;
	text-shadow:0px 1px 1px #000;
	text-decoration:none;
	font-family: 'Exo2-Regular';
	font-size:16px;
}
.content{
	background:url(../images/content-bg.png)repeat-x top center;
	padding-top:40px;
}
.breadcrumb a{
	display:inline-block;
	color:#2866b3;
	font-family: 'Exo2-Regular';
	font-size:12px;
	padding-right:5px;
}
.breadcrumb span{
	display:inline-block;
	color:#777777;
	font-family: 'Exo2-Regular';
	font-size:12px;
	padding:0px 2px;
	vertical-align:bottom;
}
.topic_title h1{
	font-size:20px;
	color:#000;
	font-family: 'Exo2-Regular';
}
.post{
	padding:20px 20px 10px 20px;
	box-sizing:border-box;
	border:1px solid #cac5c3;
	overflow:hidden;
	margin-top:-1px;
}
.post.main{
	margin-top:20px;
	background:#fff4ef;
	border:1px solid #cac5c3;
	overflow:hidden;
}
.post-left{
	float:left;
	width:125px;
}
.post-left img{
	max-width:100%;
	margin-bottom:20px;
	
}
.post-left .user_name{
	color:#000;
	font-family: 'Exo2-Regular';
	font-size:15px;
	margin-bottom:10px;
	display:block;
}
.post-left p{
	color:#606060;
	font-size:12px;
	margin:0px;
	padding:0px;
	line-height:15px;
	font-family: 'Exo2-Regular';
}
.post-right{
	float:right;
	padding:0px 10px;
	box-sizing:border-box;
	width:1000px;
	min-height:200px;
	font-family:'Tahoma';
}
.post-right h3{
	margin-top:0px;
	font-size:14px;
}
.post-right p{
	font-size:14px;
	padding:0px;
	margin:0px;
	line-height:16px;
}
.post-footer{
	height:30px;
	float:right;
	width:1000px;
	border:1px solid #ebe1dd;
	box-sizing:border-box;
	padding:0px 10px;
	background:#f5f5f5;
	margin-top:20px;
}
.post-footer span{
	float:left;
	color:#676767;
	font-size:12px;
	font-family: 'Exo2-Light';
	line-height:30px;
}
.post-footer a{
	float:right;
	color:#2866b3;
	font-size:12px;
	font-family: 'Exo2-Light';
	line-height:30px;
}
.post-footer.main{
	background:#f5ebe6;
}
.answer{
	color:#777777;
	font-size:12px;
	margin-top:20px;
	margin-bottom:10px;
}

div.pagination {
	font-size: 13px;
	padding:2px;
	font-family: 'Exo2-Regular';
	margin:20px 0px;
}

div.pagination a {
	  padding: 2px 8px 2px 8px;
	margin: 2px;
	
	text-decoration: none; /* no underline */
	color: #000;
}
div.pagination a:hover, div.pagination a:active {
	background-color:#f3e9e4;
	color: #686868;
}
div.pagination span.current {
	  padding: 2px 8px 2px 8px;
	margin: 2px;
		font-weight: bold;
		background-color: #f3e9e4;
		color: #686868;
	}
div.pagination span.disabled {
		padding: 2px 5px 2px 5px;
		margin: 2px;
		color: #686868;
	}
.btn-sb{
	border:0px;
	background-image: -moz-linear-gradient(top, #bfa89e, #8f8d8c);
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.00, #bfa89e), color-stop(1.0, #8f8d8c));
background-color: #8f8d8c;
color:#fff;
font-family: 'Exo2-Regular';
line-height:40px;
padding:0px 10px;
border-radius:5px;
}
#editor{
	margin-bottom:35px;
}
#editor .trumbowyg-box, #editor .trumbowyg-editor{
	width:100%;
}
.footer{
	width:100%;
	background-image: -moz-linear-gradient(top, #e5e5e5, #f7f7f7);
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.00, #e5e5e5), color-stop(1.0, #f7f7f7));
background-color: #DDDDDD;
height:126px;
box-sizing:border-box;
padding-top:40px;
}
.footer p{
	font-size:12px;
	color:#686868;
	font-family: 'Exo2-Light';
}
.footer p.copy{
	color:#717171;
}
.post-q{
	padding:12px;
	background:#fff4ef;
	border:1px solid #ddd;
	margin:10px 0px;
}
.post-q p.q-an{
	color:#fd0006;
	font-size:12px;
	font-style:italic;
	font-family:'Tahoma';
}
.post-q p{
	color:#4d4d4d;
	font-size:14px;
	font-family:'Tahoma';
	line-height:18px;
}	
/* ------------------------- Popups */
 
/* ------------------------- Media Queries */
 
/* ---------------------------------------------------------------------------- */
/* MEDIA QUERIES -------------------------------------------------------------- */
/* ---------------------------------------------------------------------------- */
 
/**
 * Print styles.
 *
 * Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
 */
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important;
  -ms-filter: none !important; } /* Black prints faster: sanbeiji.com/archives/953 */
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* css-discuss.incutio.com/wiki/Printing_Tables */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}